html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  text-align: center;
}

#my_div {
  margin-top: 100px;
}

@import "frames/*.png";
@include  all-frames-sprites;

.pixel_animation {
  margin: 2% auto;
  width: 400px;
  height: 200px;
  @include frames-sprite(cartoon000);
  animation: play 70s steps(146);
}


@keyframes play {
  100% { background-position: 0 -29200px; }
}

.no_display {
  display: none;
}

.button-wrap {
  margin-right: 25px;
  margin-top: 250px;
}

.red_btn:focus {
  outline: 0;
}

.red_btn {
  white-space: nowrap;
  top: -1px;
  position: relative;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  background-color: #42a653;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

}
.red_btn:hover, .red_btn:active {
  background-color: rgba(62, 142, 62, 0.76);
  top: 0;
  box-shadow: 0px 2px 5px 0px rgba(82, 123, 50, 0.25);
}
